/* scaffolding */

* {
	box-sizing: border-box;
}

:hover,
:active,
:focus {
	outline: none;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.75;
	color: #000;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}

.link {
	position: relative;
}

.link:after {
	content: "";

	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;

	height: 2px;

	background: #000;
	opacity: 1;

	transition: all 200ms ease;
}

.link:hover:after {
	bottom: -6px;

	opacity: 0;
}

.link:active {
	color: #00000070;
}

.container-1200 {
	width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1239px) {

	.container-1200 {
		width: 100%;
		margin: 0;
		padding: 0 20px;
	}

}

.container-940 {
	width: 940px;
	margin: 0 auto;
}

@media (max-width: 959px) {

	.container-940 {
		width: 100%;
		margin: 0;
		padding: 0 20px;
	}

}

.fullscreen {
	height: 100vh;
	min-height: 610px;
}

@media (min-width: 1930px) {

	.fullscreen {
		height: 620px;
	}

}

/**/



/* about */

.about .fullscreen {
	position: relative;

	display: flex;
	align-items: center;
}

.about-top {
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	z-index: 9999;

	display: flex;
	align-items: center;

	transition: all 500ms ease;
}

.fixed .about-top {
	position: fixed;
	top: 0;
}

.logo {
	font-size: 24px;
}

.fixed .logo {
	display: none;
}

/**/



/* menu-toggler */

.menu-toggler {
	position: absolute;
	top: 0;
	right: 0;

	display: none;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;

	font-size: 24px;
	color: #fff;

	background: #0461FE;
	border: none;

	cursor: pointer;
}

@media (max-width: 575px) {

	.menu-toggler {
		top: -20px;
		right: -20px;

		display: flex;
	}

}

.fixed .menu-toggler {
	position: fixed;
	top: 0;
	right: 0;

	display: flex;
}

.menu-toggler:active {
	color: #ffffff70;
}

.menu-toggler.menu-close {
	background: #000;
}

.menu-toggler.menu-open ion-icon[name="menu"],
.menu-toggler.menu-close ion-icon[name="close"] {
	display: block;
}

.menu-toggler.menu-close ion-icon[name="menu"],
.menu-toggler.menu-open ion-icon[name="close"] {
	display: none;
}

/**/



/* nav */

.nav {
	display: flex;
	margin-left: auto;
}

.fixed .nav {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 0;

	display: none;
}

.nav-link {
	position: relative;

	display: block;
	padding: 5px 15px;
}

.nav-link:active {
	color: #00000070;
}

.nav-link:after {
	content: "";

	position: absolute;
	right: 15px;
	bottom: 3px;
	left: 15px;

	height: 2px;

	background: #000;
	opacity: 1;

	transition: all 200ms ease;
}

.nav-link:hover:after {
	bottom: -2px;

	opacity: 0;
}

.nav-link.active:active  {
	color: #000;
}

.nav-link.active:after  {
	display: none;
}

.fixed .nav-link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	padding: 0 15px;

	font-size: 14px;
	color: #fff;

	background: #0461FE;
}

.fixed .nav-link:active {
	color: #ffffff70;
}

.fixed .nav-link:after {
	display: none;
}

.fixed .nav-link.active {
	color: #fff;

	background: #000;
}

.fixed .nav-link.active:active {
	color: #fff;
}

@media (max-width: 575px) {

	.nav {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		right: 0;

		display: none;
	}

	.nav-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		padding: 0 15px;

		font-size: 14px;
		color: #fff;

		background: #0461FE;
	}

	.nav-link:active {
		color: #ffffff70;
	}

	.nav-link:after {
		display: none;
	}

	.nav-link.active {
		color: #fff;

		background: #000;
	}

	.nav-link.active:active {
		color: #fff;
	}

}

/**/



/**/

@media (max-width: 959px) {

	.about .container-940 {
		padding: 0;
	}

}

.about-author {
	width: 700px;
}

.about-author h2 {
	margin-bottom: 40px;

	font-size: 55px;
	line-height: 1.15;
}

.about-author p {
	font-weight: normal;
	font-size: 18px;
}

@media (max-width: 699px) {

	.about-author {
		width: auto;
	}

	.about-author h2 {
		font-size: 45px;
	}

	.about-author p {
		font-size: 16px;
	}

}

@media (max-width: 575px) {

	.about-author h2 {
		font-size: 35px;
	}

	.about-author p {
		font-size: 14px;
	}

}

.about-bottom {
	position: absolute;
	right: 0;
	bottom: 20px;
	left: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.to-github ion-icon {
	font-size: 24px;
}

/**/



/* works */

.work-i {
	position: relative;

	display: flex;
	align-items: center;
}

@media (max-width: 959px) {

	.work-i {
		height: auto;
		padding-top: 100px;
	}

}

.work-cont {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	width: 100%;
}

@media (max-width: 959px) {

	.work-cont {
		position: static;
		top: auto;
		left: auto;
		transform: none;
	}

}

.work-head {
	position: relative;
	z-index: 1;

	width: 700px;
	margin-bottom: 40px;
}

@media (max-width: 959px) {

	.work-head {
		width: 100%;
	}

}

.work-head span {
	display: block;
	margin-bottom: 10px;

	font-size: 18px;
}

.work-head h3 {
	font-size: 45px;
	line-height: 1.15;
}

@media (max-width: 699px) {

	.work-head h3 {
		font-size: 40px;
	}

}

@media (max-width: 575px) {

	.work-head h3 {
		font-size: 35px;
	}

}

.work-body {
	position: relative;
	z-index: 1;

	width: 260px;
}

.work-body p {
	margin-bottom: 60px;

	color: #747474;
}

.work-more a:nth-child(1) {
	margin-right: 15px;
}

.work-overview {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	z-index: 0;

	width: 640px;
	height: 400px;

	background: #ccc;
}

@media (max-width: 959px) {

	.work-overview {
		position: static;
		top: auto;
		transform: none;
		right: auto;

		width: 100%;
		margin-bottom: 20px;
	}

}

/**/



/* contacts */

.contacts .fullscreen {
	position: relative;

	padding-top: 100px;
}

@media (max-width: 959px) {

	.contacts .container-940 {
		padding: 0;
	}

}

.contacts h2 {
	margin-bottom: 60px;

	font-size: 45px;
	line-height: 1.15;
}

@media (max-width: 699px) {

	.contacts h2 {
		font-size: 40px;
	}

}

@media (max-width: 575px) {

	.contacts h2 {
		font-size: 35px;
	}

}

.contact-item-1 {
	margin-bottom: 40px;
}

.contact-item span {
	display: block;

	font-size: 20px;
}

.contact-item a {
	display: inline-block;

	font-size: 20px;
	color: #747474;
}

.contact-item a:after {
	background: #747474;
}

.contacts-bottom {
	position: absolute;
	right: 0;
	bottom: 20px;
	left: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts-bottom .github-link {
	font-size: 18px;
}

/**/



/* controls */

.controls {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;

	display: none;
}

.scroll {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;

	font-size: 24px;
	color: #fff;

	background: #0461FE;

	cursor: pointer;
}

.scroll:hover {
	color: #fff;
}

.scroll:active {
	color: #ffffff70;
}

.scroll-prev {
	top: 0;

	visibility: hidden;
}

.scroll-next {
	bottom: 0;

	visibility: visible;
}

.scroll ion-icon {
	pointer-events: none;
}

.pagination {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);

	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;

	font-size: 14px;
}

/**/